body{
    background-color: rgb(209, 156, 10);
}
.hur{
    margin-top: 450px;
    margin-left: 780px;
}
.res{
    margin-top: 50px;
    margin-left: 755px;
}
.n{
    background-color: aqua;
}